<div style="width:650px; height:350px;background-color:#708090; border: 1px solid #191970; color:black">
<%= render "devise/shared/project_name"%>
<%= render "devise/shared/logged_in", style:'color:white;' %>
<h3 style="color:#FFFAF0; margin-left:-145px;">Edit RegisteredApplication </h3>
<div class = "row">
   <div class = "col-md-8">
      <%= form_for @registered_application do |f| %>
         <% if @registered_application.errors.any? %>
            <div class="alert alert-danger">
               <h4><%= pluralize(registered_application.errors.count, "error") %>.</h4>
               <ul>
                  <% registered_application.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% end %>
         <%= form_group_tag(@registered_application.errors[:title]) do %>
           <%= f.label :name, style:'color:#FFFAF0;margin-left:40px;' %>
           <%= f.text_field :name, class: 'form-control',style:'margin-left:40px;',  placeholder: "Enter Application name" %>
         <% end %>
         <%= form_group_tag(@registered_application.errors[:url]) do %>
            <%= f.label :url, style:'color:#FFFAF0;margin-left:40px;' %>
            <%= f.text_field :url, rows: 8, class: 'form-control',style:'margin-left:40px;', placeholder: "Enter Application url" %>
         <% end %>
        <div class="form-group">
           <%= f.submit "Save", class: 'btn btn-primary',style:'margin-left:40px; background-color:blue;' %>
        </div>
      <% end %>
   </div>
</div>
</div>
