<ul class="nav navbar-nav pull-left">
  
<div style="width:800px; height:700px; margin-left:150px;background-color:#708090; border: 3px solid #191970; color:white">

<%= render "devise/shared/project_name"%>
<%= render "devise/shared/logged_in", style:'color:white;' %>
<h4>My RegisteredApplications</h4>
<table style="width:50%; color:white; border: 5px solid black">
  <tr>
    <th>RegisteredApplication(click RegisteredApplication link below to edit) </th>
    <th>RegisteredApplication(click link to show) </th>
    <th>RegisteredApplication(click link to delete) </th>
  </tr>
  <% @registered_applications.each do |regapp| %>
    <tr>
          <td><%= link_to regapp.name, edit_registered_application_path(regapp), class: 'btn btn-link btn-md', :style=>'color: white;' %></td>
          <td><%= link_to "show", [regapp], method: :get, class: 'btn btn-link btn-md',:style=>'color: white;' %></td>
          <td><%= link_to "delete", [regapp], method: :delete, class: 'btn btn-warning btn-md',:style=>'color: white;' %></td>
    </tr>
  <% end %>
</table>
<h4>Create New RegisteredApplication</h4>
<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form', locals: {registered_application: @registered_application} %>
  </div>
</div>
</div>
</ul>

