<div class="row">
  <div class="col-md-8">
    <div class = "col-md-8">
       <%= @registered_application.name %>
       <%= @registered_application.url %>
       <% @events.each do |(name, events_with_name)| %>
         <h5>Event name = <%= name %> </h5>
         <h5>Occurrences of <%= name %> = <%= events_with_name.size %> </h5>
       <% end %>
       <%= pie_chart @registered_application.events.group(:name).count %>
       <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
   </div>
  </div>
</div>
