
<br>


<% content_for :top_content do %>
   <div class="container-fluid text-center">
    <div class="boxed">
      <%= render "devise/shared/project_name"%>
      <%= link_to "About", welcome_about_path, style:'color:white;float:left;background-color:black;',class: 'btn btn-primary btn-md'%>
      <%= render "devise/shared/logged_in", style:'color:white;' %>
      <div style="width:400px; height:200px;">
        <h1 style="margin-left:130px;">Analetrics:</h1>
        <p style="margin-left:130px;">An analytics service to track events on websites</p>
         <p style="margin-left:130px;">
           <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-md' %>
           <%= link_to 'Sign In', new_user_session_path,  class: 'btn btn-primary btn-md' %>
           <%= link_to 'Start Now', welcome_index_path, class: 'btn btn-primary btn-md' %>
         </p>
       </div>
       <br>
      <div style="width:600px; height:150px; margin-left:130px;background-color:#87CEFA; color:black">
        <table style="width: 100%;   text-align:left">
          <tr>
            <th>Edit_Application</th>
            <th>Show_Application</th>
            <th>Delete_Application</th>
          </tr>
          <tr>
            <td>Application1</td>
            <td>Application1</td>
            <td>Application1</td>
          </tr>
         </table> 
      </div>
      <br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Register Applications to track their events. View the events on registerd applications<br><br>
       <%#= link_to "Start Now", registered_applications_path, class: 'btn btn-primary btn-sm' %>
       <br>
    </div>
  </div>
<% end %>
<script>blocmetrics.report("Event_for Analetrics");</script>
</br>